
li,ul,h1{*{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: black;
    color: white;
    padding: 20px;
}
    display: inline-block;
}
ul{
    padding-left:60% ;
}
li{
    color: gray;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
    width: 60%;
    padding: 15px;
    margin: 30px;
    text-align: center;
}
.click{
    background-color: blue;
    color: aliceblue;
    padding: 40px;
    /* margin-left: 45%; */
    border-radius: 20px;
    display: inline-block;
    width: 50px;
    height: auto;
}
.search{
    text-align: center;
}
.box{
    border: 2px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    width: 220px;
    cursor: grab;
}
.product{
    text-align: center;
}
.box:hover{
    background-color: black;
    color: white;
}
.about{
    text-align: center;
    padding: 20px;
}
.contact{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}